@using BookTrackerWebApp.Models
@model IEnumerable<Book>

<h3 class="p-2 bg-primary text-white text-center">My Books</h3>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <h3>Add Book</h3>
            <form asp-action="AddBook" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>*@
                    <label for="Title">Title</label>
                    <input name="Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Author">Author</label>
                    <input name="Author" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Category">Category</label>
                    <input name="Category" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="SeriesName">Series Name</label>
                    <input name="SeriesName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="SeriesBookNum">Series Book #</label>
                    <input name="SeriesBookNum" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="SeriesTimeline">Series Timeline</label>
                    <input name="SeriesTimeline" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="ImageUrl">ImageUrl</label>
                    <input name="ImageUrl" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Synopsis">Synopsis</label>
                    <input name="Synopsis" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Year">Year</label>
                    <input name="Year" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="PurchasePrice">Purchase Price</label>
                    <input name="PurchasePrice" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="RetailPrice">Retail Price</label>
                    <input name="RetailPrice" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
        <div class="col-md-7 offset-md-1">

            <h3>My Books List</h3>
            @if (Model.Count() == 0)
            {
                <div class="row">
                    <div class="col text-center p-2">No Data</div>
                </div>
            }
            else
            {
                @foreach (Book b in Model)
                {

                    <div class="media">
                        <img src="https://via.placeholder.com/150X200" class="align-self-start mr-3" alt="Alt text">

                        <div class="media-body">
                            <h5 class="mt-0">@b.Title</h5>
                            by @b.Author<br />
                            <span class="font-weight-bold">Category:</span> @b.Category<br />
                            <span class="font-weight-bold">Series:</span> @b.SeriesName<br />
                            <span class="font-weight-bold">Book #:</span> @b.SeriesBookNum<br />
                            <span class="font-weight-bold">Series Timeline:</span> @b.SeriesTimeline<br />
                            <span class="font-weight-bold">Year:</span> @b.Year.ToString("yyyy")<br />
                            <span class="font-weight-bold">Retail Price:</span> $@b.RetailPrice<br />
                        </div>
                    </div>
                    <hr />
                }
            }
        </div>
    </div>
    </div>
